.character-wrapper {
  margin-bottom: 0.5em;
  position: relative;
  width: 188px;
  height: 246px;
}

.character-link {
  color: #000;
  display: block;
  text-decoration: none;
  position: relative;
  width: 100%;
}

.character-wrapper img {
  width: 188px;
  height: 200px;
  object-fit: cover;
  object-position: top;
  vertical-align: top;
  background-color: black;
}

i {
  font-size: 80px;
}

.character-wrapper .favorite-button {
  display: flex;
  align-items: center;
}

.character-presentation {
  background-color: black;
  border-top: 3px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 56px;
  padding: 0 15px;
  box-sizing: border-box;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 10px),
    calc(100% - 10px) 100%,
    0 100%
  );
}

.character-presentation.hovered {
  background-color: red;
}

.character-presentation h4 {
  color: white;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
}
