.character-fav {
  background-color: transparent;
  border: 0;
  border-radius: 100px;
  cursor: pointer;
  width: 32px;
  height: 32px;
  transition: all 0.3s ease;
}

.character-fav:hover {
  background: rgba(255, 172, 172, 0.8);
}

.character-fav span {
  display: block;
  width: 20px;
  color: white;
}
